@font-face{
	font-family: "eStenden";
	src: url(../fonts/bariol_regular-webfont.ttf);
}

*{
	font-family: 'eStenden', 'Arial', sans-serif;
}

body{
	background-image: url("../img/bg.png");
	background-size: cover;
	background-color: #01448b;
}

#inputs_login{
	border-radius: 5px;
	background-color: white;
	margin: auto;
	margin-top: 17%;
	width: 310px;
	height: 260px;
	position: relative;
}

.logo{
	float: left;
	margin-top: 10px;
	margin-left: 20px;
	width: 290px;
	height: 60px;
}

.fields{
	float: left;
	margin-top: 10px;
	margin-left: 10px;
	width: 290px;
}

.fieldsText{
	float: left;
	width: 25%;
	margin-top: 7px;
}

.fieldsInput{
	float: left;
	width: 75%;
}

.button{
	float: right;
	border: none;
	border-radius: 5px;
	background-color: lightgrey;
	height: 30px;
}

@keyframes slideDown {
	0% {
		height: 0;
	}
	100% {
		height: 70px;
	}
}


.response{
	float: left;
	width: 100%;
	text-align: center;
	border-radius: 0px 0px 5px 5px;
	background-color: #e74c3c;
	color: white;
	position: absolute;
	top: 260px;
	animation: 400ms ease-out 0s 1 slideDown;
	overflow: hidden;
}

.response p {
	padding: 20px;
}

