/*
    Created on : 22-Dec-2017, 00:59:56
    Author     : Robert Jeffrey / Harry Potter
*/

@font-face{
	font-family: "eStenden";
	src: url(../fonts/bariol_regular-webfont.ttf);
}

@font-face{
	font-family: "information";
	src: url(../fonts/PrestigeEliteStd-Bd.otf);
}

@font-face{
	font-family: "nav";
	src: url(../fonts/lucida.ttf);
}


/* General stuff */
*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

img{
    max-width:100%;
    max-height:100%;
}

p{
    font-family: 'information', 'Arial', sans-serif;
}

input, select, textarea {
    font-family: 'nav', 'Arial', sans-serif;
}

input, select, textarea {
    border: 2px solid #01448B;
    padding: 5px;
}
textarea {
    resize: none;
}
input:focus {
    outline: none;
}

.fancy-table {
    width: calc(100% - 40px);
    border: 2px solid #01448B;
    border-collapse: collapse;
    margin: 20px;
    float: left;
}
.fancy-table th {
    text-align: left;
    background: #01448B;
    color: white;
    padding: 10px;
}
.fancy-table tr:nth-child(odd) {
    background: #fff;
}
.fancy-table tr:nth-child(odd) {
    background: #80A3C8;
}
.fancy-table td {
    padding: 10px;
}


/* Wireframe */
.wrapper{
    min-height: 100vh;
    width: 100%;
    float:left;
}
.wrapper .header {
    width: 100%;
    height: 80px;
    background-color: #01448b;
    float:left;
    position: fixed;
}

.wrapper .header p {
    font-family: 'eStenden', 'Arial', sans-serif;
    float:left;
    color: white;
    font-size: 25pt;
    line-height: 80px;
    margin: 0;
}
.wrapper .header .logo {
    float:left;
    height: 50px;
    margin: 15px;
}

.wrapper #content-wrapper {
    width: 100%;
    float: left;
    margin-bottom: 30px; /* Height of the footer */
}
.wrapper #content-wrapper #sidebar {
    width: 200px;
    min-height: calc(100vh - 80px);
    float: left;
    position: fixed;
    margin-top: 80px; /* Height of the header */
}

.wrapper #content-wrapper #sidebar .userDetails {
    width: 100%;
    height: 60px;
    float: left;
    background-color: #002a56;
    padding-top: 15px;
}

.wrapper #content-wrapper #sidebar .userDetails .clientName p{
    color:white;
    text-align: center;
    font-size:12pt;
}
.wrapper #content-wrapper #sidebar .userDetails .clientType p {
    color:white;
    text-align: center;
    font-size: 9pt;
}

.wrapper #content-wrapper #sidebar .titleDivider {
    height: 5px;
    width: 100%;
    background-color: #fff; /* 002a56 */
    float:left;
}
.wrapper #content-wrapper #sidebar .navWrapper {
    width: 100%;
    background-color: #01366d;
    min-height: calc(100vh - 80px);
    float: left;
}
.wrapper #content-wrapper #sidebar .navWrapper .navItem {
    width: 100%;
    height: 50px;
    background-color: #01448b;
    float:left;
    margin-bottom:10px;
}
.wrapper #content-wrapper #sidebar .navWrapper .navItem img {
    width: 30px;
    height: 30px;
    margin: 10px;
    float: left;
}
.wrapper #content-wrapper #sidebar .navWrapper .navItem p {
    color:white;
    font-size: 14px;
    text-align: left;
    font-family:  'nav', 'Arial', sans-serif;
    float: left;
    line-height: 50px;
    margin: 0;
    padding: 0;
    transition: 400ms;
}

.wrapper #content-wrapper #sidebar .navWrapper .navItem:hover {
    background-color:#001e3d;
    transition: 400ms;
}

.wrapper #content-wrapper .content {
    margin-left: 200px;
    margin-top: 80px;
    width: calc(100% - 200px);
    min-height: calc(100vh - 80px);
    float: left;
}

.wrapper #content-wrapper .content .titleBox {
    height: 60px;
    width: 100%;
    background-color: #80a3c8;
    float:left;
}
.wrapper #content-wrapper .content .titleBox p {
    padding: 0;
    line-height: 60px;
    text-align: center;
    color: white;
    font-size: 18px;
}

.wrapper #content-wrapper .content .titleBox .tabOpen{
	height: 25px;
	width: 50%;
	background-color:  #94b3d1;
	font-size: 17pt;
	float:left;
	margin: -25px 0px 10px 0px;
}
.wrapper #content-wrapper .content .titleBox .tab p{
	margin: -16px 0px 0px 0px;
}
.wrapper #content-wrapper .content .titleBox .tab{
	height: 25px;
	width: 50%;
	background-color: #80a3c8;
	font-size: 15px;
	float: right;
	margin: -25px 0px 0px 0px;
}
.wrapper #content-wrapper .content .titleBox .tabOpen p{
	margin: -16px 0px 0px 0px;
}

.linkS{
	color: white;
}

.wrapper .footer {
    width: 100%;
    float: left;
    background-color:#01448b;
    position: fixed;
    text-align: center;
    line-height: 40px;
    bottom: 0;
    color: white;
}



/* END OF WIREFRAMING */

/* FAQ page */
.wrapper #content-wrapper .content .faq{
	height: auto;
	margin-left: 5%;
	width: 95%;
    padding: 20px;
	overflow-y: scroll;
}
.wrapper #content-wrapper .content .faq p {
    margin-left: 40px;
    font-family: 'information', 'Arial', sans-serif;
}

.wrapper #content-wrapper .content .faq h2 {
	font-family: 'information', 'Arial', sans-serif;
}

.wrapper #content-wrapper .content .faq article {
    margin-bottom: 40px;
}
/* END OF FAQ PAGE */

/* VIEW TICKETS PAGE */
.wrapper #content-wrapper .viewTicket p {
    width: calc(100% - 20px);
    float: left;
    line-height: 30px;
    color: #002a56;
    margin-left: 20px;
    margin-top: 10px;
}

.wrapper #content-wrapper .viewTicket p.isValue {
    width: calc(100% - 40px);
    float: left;
    margin-left: 40px;
}

.wrapper #content-wrapper .viewTicket select, textarea {
    margin-left: 40px;
    float: left;
}

/* END OF VIEW TICKETS PAGE */

.viewTicketData{
	width: 50%;
	float: left;
	height: auto;
	/* background-color: grey; */
}

.viewTicketEmployee{
	width: 50%;
	float: left;
	height: auto;
	/* background-color: lightgrey; */
}

.viewTicketText{
	width: 95%;
	height: 100px;
}

#message-wrapper {
    width: 600px;
    padding: 20px;
}
#messages article {
    width: 100%;
    float: left;
}

#messages article .message {
    width: 100%;
    padding: 30px;
    background: #80A3C8;
    color: white;
    position: relative;
    z-index:-1;
}
#messages article .message.isMe {
    background: #01448B
}

#messages article .message .name {
    font-weight: bold;
    line-height: 20px;
}
#messages article .message .message-content {
    padding: 20px;
    padding-left: 40px;
}
#messages article .message .timeSent {
    position: absolute;
    top: 10px;
    right: 10px;
}
#terms p{
    margin-left:25px;
}
#terms h1, h2{
    margin-left:20px;
}
#terms ul,li{
    margin-left:30px;
    list-style:none;
}
.client_view input[type='submit']{
    padding:5px;
    font-size:13pt;
    margin: 50px 0 50px 45%;
}
.client_view2 input[type='submit'] {
    padding:5px;
    font-size:13pt;
    margin: 15px 0 15px 30px;
}

.hover:hover{
	background-color: #80a3c8;
	cursor: pointer;
}
