/*
    Created on : 22-Dec-2017, 00:59:56
    Author     : Ioana Cojocaru
*/

.content{
    min-width: 1000px;
}
.content1{
    width: 50%;
    min-height: calc(100vh - 80px);
    float: left;
    font-family: 'information', 'Arial', sans-serif;
    margin-top: 5px;
    color: #002a56;
    font-size: 16pt;
    text-align: center;
    
    
}
.content2{
    width: 50%;
    min-height: calc(100vh - 80px);
    float: right;
    margin-top: 5px;
    font-family: 'information', 'Arial', sans-serif;
    color: #002a56;
    font-size: 16pt;
}/*
.content3{
    //width: 50%;
    min-height: calc(100vh - 80px);
    margin-left: 10px;
    float: right;
    margin-top: 5px;
    font-family: 'information', 'Arial', sans-serif;
    color: #002a56;
    font-size: 16pt;
    background-color: red;
}
.line1{
    height: 2.5px;
    background-color: #002a56;
    float: left;
    width: 100%;
}
.line2{
    height: 2.5px;
    background-color: #002a56;
    float: left;
    width: 100%;
}
.line3{
    height: 2.5px;
    background-color: #002a56;
    float: left;
    width: 100%;
}*/
#problemType{
    float: right;
    width:100%;
    height: 100px;
    margin-top: 50px;
    
    
}
#softwareName{
    float: left;
    width:100%;
    height: 27px;
}
#pbd{
    
    text-align: center;
}
input{
    width: 300px;
    height: 40px;
    background-color: #002a56;
    color: white;
    font-family: 'information', 'Arial', sans-serif;
    font-size: 12pt;

    
}
textarea{
    background-color: #80a3c8;
    width: 500px;
    height: 200px;
    border: none;
    resize: none;
    padding: 8px;
    color: #002a56;
    margin-top: 24px;
    margin-left: 12%
}
.mainselection {
    overflow:hidden;
    width:100%;
    
    background: url("images/dropdown_arrow.png") no-repeat #fff 319px 2px;
    /* dropdown_arrow.png is a 31x28 image */

}
select {
    border:0;
    background:transparent;
    height:32px;
    border:1px solid #d8d8d8;
    width:350px;
    -webkit-appearance: none;
    background-color: #80a3c8;
    color: #002a56;
    font-family: 'information', 'Arial', sans-serif;
    
}
form{
    width: 100%;
}
.textWrap{
    width: 100%;
    min-height: calc(100vh - 80px);
}
